.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 230px;
}

.color-bg {
    background-color: #FFF8F3;
}

.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav styles */
.navbar {
    margin-top: 67px;
    margin-bottom: 185px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;


}

.dark-2 {
    color: #474747;

}

nav ul {
    display: flex;
    align-items: center;


}

.text-primary {
    color: #FD6E0A;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;

}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.btn-contact {
    background-color: #FFF8F3;
    color: #FD6E0A;
    padding: 18px 34px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    border: 2px solid #FD6E0A;

}

/* banner styles */
.banner {
    display: flex;
    margin: 0 35px 0 230px;
    justify-content: space-between;

}

.banner-greetings {
    font-weight: 600px;
    font-size: 45px;
    margin-top: 185px;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;

}

.banner-description {
    font-size: 18px;
    color: #757575;
}


.banner-pic {
    width: 584px;
}

/* main section styles */
.main {
    width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

.border {
    border: 3px solid;
    background-color: #FFFFFF;
}

.about {

    text-align: center;
    border-radius: 10px;
    padding: 130px 150px;



}

.about-title {
    font-size: 35px;
    font-weight: bold;
}

.description {
    font-size: 18px;
}

.items {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 10px;


}

.item-title {
    color: #757575;
    font-size: 20px;
    margin: 0;

}

.item-description {
    color: #757575;
    font-size: 20px;
    font-weight: bold;
    margin: 0;

}

/* skill section  style */
.section-title {
    font-size: 35px;
    font-weight: bold;
}

.section-description {
    margin: 30px 270px;

}

.text-center {
    text-align: center;
}

.skill-container {
    display: flex;

    gap: 24px;

}

.skill {
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section style */
.resume-container {
    display: flex;
    gap: 24px;
}

.resume-column-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.experience-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #474747;
}

.experience-sub-title {
    font-size: 20px;
    font-weight: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #757575;

}

.experience-description {
    font-size: 16px;
    color: #757575;

}

.resume hr {
    margin: 30px 5px;
}

.resume-download {
    margin-top: 50px;
}

/* footer style */
footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;

}

.footer-column {
    width: 50%;
}


.description {
    font-size: 16px;
    color: #474747;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
}

div img {
    margin: 18px;
}

/* Responsive styles */
.hide {
    display: none;
}

@media screen and (max-width: 576px) {

    nav,
    nav ul,
    .banner,
    .items,
    .skill-container,
    .resume-container,
    footer {
        flex-direction: column;
    }

    .header {
        background-image: none;
    }

    .banner-pic {
        width: 100%;
    }

    div img {
        margin: 0;
    }

    .banner {
        margin: 20px;
    }

    nav {
        margin: 0;
    }

    nav ul {
        margin: 0;
        gap: 20px;
    }

    .btn-primary {
        margin-bottom: 20px;
    }

    .main {
        width: auto;
    }

    .section-description {
        margin: 0;
    }

    footer,
    .about {
        padding: 20px;
    }

    .footer-column {
        width: 100%;

    }

    footer input[type="text"],
    footer input[type="email"],
    footer textarea {
        width: calc(100% - 40px);
    }
}